<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto To-Do-List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <h1>Hoje</h1>
    <!--Formulario para adicionar tarefas-->
    <form action="/add" method="POST">
      <input type="text" name="tarefa" placeholder="Nova tarefa" required />
      <input type="datetime-local" name="dataHora" />
      <button type="submit">Adicionar</button>
    </form>
    <h2>Pendentes</h2>
    <ul>
      {% for tarefa in tarefas if not tarefa.feito %}
      <li class="pendente">
        {{ tarefa.texto }}
        <form action="/concluir" method="POST" style="display: inline">
          <input type="hidden" name="tarefa" value="{{ tarefa.texto }}" />
          <button type="submit">✔️Concluir</button>
        </form>

        <form action="/remove" method="POST" style="display: inline">
          <input type="hidden" name="tarefa" value="{{ tarefa.texto }}" />
          <button type="submit">Remover</button>
        </form>
      </li>
      {% endfor %}
    </ul>

    <h2>Concluídas</h2>
    <ul>
      {% for tarefa in tarefas if tarefa.feito %}
      <li class="concluida">
        {{ tarefa.texto }}
        <form action="/remove" method="POST" style="display: inline">
          <input type="hidden" name="tarefa" value="{{ tarefa.texto }}" />
          <button type="submit">Remover</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
