<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto To-Do-List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <div class="top-bar">
      {% for cat in ["Todos"] + categorias %}
      <a href="{{ url_for('home', filtro=cat) }}">
        <button class="{{ 'active' if filtro == cat else '' }}">
          {{ cat }}
        </button>
      </a>
      {% endfor %}
    </div>

    <div class="task-list">
      {% for tarefa in tarefas %}
      <div class="task-card {% if tarefa.feito %}feito{% endif %}">
        <div class="task-info">
          <h3>{{ tarefa.texto }}</h3>
          {% if tarefa.prazo %}
          <p class="prazo">Prazo: {{ tarefa.prazo }}</p>
          {% endif %} {% if tarefa.categoria %}
          <span class="categoria">{{ tarefa.categoria }}</span>
          {% endif %}
        </div>

        <div class="task-actions">
          <form action="/concluir" method="POST" style="display: inline">
            <input type="hidden" name="tarefa" value="{{ tarefa.texto }}" />
            <button type="submit" class="btn-concluir">✓</button>
          </form>
          <form action="/remove" method="POST" style="display: inline">
            <input type="hidden" name="tarefa" value="{{ tarefa.texto }}" />
            <button type="submit" class="btn-deletar">🗑️</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>

    <button class="fab" onclick="abrirModal()">+</button>
    <div class="modal" id="modal">
      <div class="modal-content">
        <span class="close" onclick="fecharModal()">&times;</span>
        <h2>Nova Tarefa</h2>
        <form action="/add" method="POST">
          <input
            type="text"
            name="tarefa"
            placeholder="Descrição da Tarefa"
            required
          />
          <input type="datetime-local" name="dataHora" />
          <select name="categoria">
            <option value="Trabalho">Trabalho</option>
            <option value="Estudo">Estudo</option>
            <option value="Casa">Casa</option>
            <option value="Outros">Outros</option>
          </select>
          <button type="submit">Adicionar</button>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
  </body>
</html>
